@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    height: 100%
}
* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #a5a5b1;
    display: grid;
    place-items: center
}

.card {
    color: #6f707d;
}
.search-input {
    margin-top: 30px;
    margin-bottom: 30px;
}

